:root {
  //background
  --very-dark-gray: #141414;
  //background input
  --dark-gray: #222222;
  //button
  --golden-yellow: #FFBB03;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-gray);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem sans-serif;
}