.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.containerMain {
    display: flex;
    flex-direction: row;

    height: 100%;

}

.containerRight {
    width: 100%;
    border: 1px solid blue;
}