.headerContainer {
    background-color: var(--very-dark-gray);
    border-bottom: 1px solid rgb(255, 0, 0);
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0 1rem;
}
.headerLeft{
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
        font-size: 2rem;
        text-decoration: none;
        color:white
    }
}
.btnHamburguer {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
   
}
.btnHamburguer:hover {
    color: yellow;
}
.menuNav {
    display: flex;
    align-items: center;

    a {
        color: var(--white);
        padding: 0 0.5rem;
        display: inline-block;
        position: relative;
        transition: color 0.7s;

        &+a {
            margin-left: 2rem;
        }

        &:hover {
            color: var(--red-900)
        }
    }

    button {
        margin-left: 2rem;
        background: transparent;
        border: 0;
        transition: transform 0.8s;

        &:hover {
            transform: scale(1.2);
        }
    }
}